<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <h5 class="text-uppercase">Изработиле:</h5>

            <p>
                Никола Петровски - 203270 <br>
                Марко Лазаревски - 213191 <br>
                Младен Стојановски - 212104
            </p>
        </div>
        <!--Grid column-->


    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div id="footer-bottom" class="text-center p-3" style="background-color: #1c1c1c">
        © 2023 Copyright
    </div>
    <!-- Copyright -->
</footer>
