<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<footer th:replace="~{/fragments/header}"></footer>

<div class="login-form">
    <form th:action="@{/login}" th:method="post">
        <h1>Login</h1>
        <p style="margin: 10% 0 -5% 5%;" class="text-danger" th:text="${status}"></p>
        <div class="content">
            <div class="input-field">
                <input type="email" placeholder="Email" autocomplete="nope" name="Email">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" autocomplete="new-password" name="Password">
            </div>
            <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
            <button><a href="/register" >Register</a></button>
            <button type="submit" >Sign in</button>
        </div>
    </form>
</div>

<footer th:replace="~{/fragments/footer}"></footer>

</body>
</html>
